.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    background-size: contain;
    min-width: 100%;
    min-height: 100%;
    transform: scaleX(-1);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.login-panel {
    position: absolute;
    right: 25%;
    top: 0;
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    opacity: 0.7;
    z-index: 3;
}




/* Style for Supabase UI */
.c-jTXIoq-bsgKCL-direction-vertical {
    width: 100% !important;
    height: 100% !important;
}

.supabase-auth-ui_ui-anchor,
.supabase-auth-ui_ui-button,
.supabase-auth-ui_ui-input,
.supabase-auth-ui_ui-message {
    font-family: 'GenFont2' !important;
}

.supabase-auth-ui_ui-anchor {
    font-size: 16px !important;
    line-height: 25px;
}

.supabase-auth-ui_ui-button {
    height: 30px !important;
    font-size: 13px !important;
    border: 2px solid black !important;
}

.supabase-auth-ui_ui-input {
    height: 30px;
    border: 2px solid black !important;
}

.supabase-auth-ui_ui-message {
    font-size: 15px !important;
    color: red !important;
    line-height: 20px !important;
}

div[class=""] {
    width: 400px;
    padding: 10px;
}