@font-face {
    font-family: "GenFont2";
    src: url('../fonts/GenFont2.ttf') format('truetype');
}

.container {
    display: flex;
    justify-content: center;
    height: 80vh;
    width: 100%;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    overflow: hidden;
    width: 20%;
    background-color: white;
    opacity: 0.6;
    position: absolute;
    right: 20%;
    z-index: 3;

}

.background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.background-gif {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}


.c-jTXIoq-bsgKCL-direction-vertical {
    width: 100% !important;
    height: 100% !important;
    ;
}

// forgot your password/ dont have acc / singup
.supabase-auth-ui_ui-anchor {
    font-size: 16px !important;
    line-height: 25px;
    font-family: 'GenFont2' !important
}

// all login/singin buttons
.supabase-auth-ui_ui-button {
    height: 30px !important;
    font-size: 13px !important;
    font-family: 'GenFont2' !important;
    border: 2px solid black !important;
    width: 100%
}

;

// form 
.supabase-auth-ui_ui-input {
    height: 30px;
    font-family: 'GenFont2' !important;
    border: 2px solid black !important;

    &::placeholder {
        font-family: 'GenFont2' !important;
    }

    &::autocomplete {
        font-family: 'GenFont2' !important;
    }
}

.supabase-auth-ui_ui-message {
    font-family: 'GenFont2' !important;
    font-size: 15px !important;
    color: red !important;
    line-height: 20px !important;
}

//}