@import "./reset.scss";

html,
body {
    overflow-x: hidden;
}

.content {
    font-family: "GenFont2";
    position: relative;
    text-align: center;

}

.content__background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.7;


}

.content__images {
    display: flex;
    gap: 15rem;
    justify-content: center;
}

.content__image {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 20rem;
    padding-bottom: 33rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content__image p {
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 2rem;
    color: white;
    letter-spacing: 2px;
    line-height: 1.5;
    z-index: 4;
    text-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
}

.content__image__img {
    width: 44rem;
    height: 25rem;
    margin-bottom: 10px;
    margin-top: 50px;
    position: relative;
    border: 3px solid black;
    box-shadow:
        0 0 15px 5px rgba(0, 0, 0, 0.9),
        0 0 30px 10px rgba(0, 0, 0, 0.8),
        0 0 45px 15px rgba(0, 0, 0, 0.7),
        0 0 60px 20px rgba(0, 0, 0, 0.6),
    ;
}

.content__image:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 65rem;
    background-color: rgba(0, 0, 0, 0.685);
    top: 15rem;
    left: 0;
    z-index: -2;
}

// world section
.world-introduction {
    font-family: GenFont2;
    color: #ecf0f1;
    position: relative;
    overflow: hidden;
    z-index: 1;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);


    .video-container-world-introduction {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: -1;

        .background-video-world-introduction {
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0.9;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.603);
            z-index: 1;
        }
    }

    .content-container-world-introduction {
        position: relative;
        z-index: 2;
        max-width: 100vw;
        margin: 0 auto;
        padding: 50px 20px;
        padding-bottom: 100px;
        text-align: center;
        ;

        h2 {
            font-size: 5.5rem;
            margin-top: 12rem;
            margin-bottom: 12rem;
        }

        p {
            font-size: 2.8rem;
            line-height: 3.6rem;
            margin-bottom: 12rem;
        }

        .images-world-introduction {
            display: flex;
            justify-content: space-around;
            margin-bottom: 9rem;

            img {
                width: calc(33% - 200px);
                position: relative;
                margin: 0 10px;
                border-radius: 10px;
                box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.6);
                transition: transform 0.2s ease, box-shadow 0.2s ease;
                z-index: 90;

                &:hover {
                    transform: scale(1.05);
                    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
                }
            }
        }
    }
}





.icons-world-introduction {
    width: 100%;
    position: absolute;
    padding-left: 4rem;
    padding-right: 4rem;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    filter: saturate(1.9);
    background: linear-gradient(to top,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.5) 30%,
            rgba(0, 0, 0, 0.7) 40%,
            rgba(0, 0, 0, 0.9) 50%,
            rgba(0, 0, 0, 0.8) 60%,
            rgba(0, 0, 0, 0.6) 70%,
            rgba(0, 0, 0, 0.005) 100%);
}


.explore-button {
    position: relative;
    overflow: hidden;
    color: #fff;
    font-size: 4.5rem;
    font-weight: bold;
    border: none;
    transition: background-color 0.1s, transform 0.1s;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.8;

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        width: 100vw;
        height: 100%;
        background: radial-gradient(circle, rgba(89, 238, 188, 0.8) 50%, transparent 100%);
        border: none;
        z-index: -1;
        transition: transform 0.3s ease;
        opacity: 0;
    }

    &:hover {
        color: #fff;


        &::after {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1); // 
        }

        transition: color 0.3s ease,
        text-shadow 0.3s ease;
        text-shadow: 0 0 3px #fff;
    }
}

.section-with-gradient2 {
    width: 100%;
    height: 8rem;
    position: absolute;

    left: 50%;
    z-index: 40;
    transform: translate(-50%, -50%);
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.795) 50%, transparent);
}