.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}

.header__left {
    color: white;
    font-size: 3.5rem;
    font-weight: bold;
    font-family: GenFont;
    margin-left: 2rem;
    a {
        color: white;
        text-decoration: none;
    }
}

.header__left a:hover {
    color: white;
    text-decoration: none;
}

.header__left a:visited {
    color: white;
    text-decoration: none;
}

.header__right {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

.header__link {
    flex-grow: 1;
    text-align: center;
    margin: 0 1rem;
    color: white;
    text-decoration: none;
}

.header__button {
    font-family: GenFont;
    font-weight: bold;
    color: white;
    background-color: black;
    padding: 0;
    height: 10rem;
    border: none;
    font-size: 1.9rem;
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
